
.travel-assistant {
  padding: 20px;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card-body {

  background-color: #0a89f1;
 
}

.message.ai .bg-light {
  max-width: 80%;
}

.message.user .bg-primary {
  max-width: 80%;
}

.recommendations {
  background-color: hsla(154, 15%, 91%, 0.007);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #eee;
  background-image: url("https://th.bing.com/th/id/OIP.Hh4YsxTnj3V9m8soDl3UpwHaD3?w=398&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.container-fluid {
  background-image: url("https://wallpapercave.com/wp/wp4069431.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}